MAILSETTINGS__ENABLED=true
MAILSETTINGS__SMTPHOST=smtp.gmail.com
MAILSETTINGS__SMTPPORT=587
MAILSETTINGS__USESSL=true
MAILSETTINGS__USERNAME=your-email@gmail.com
MAILSETTINGS__FROMEMAIL=your-email@gmail.com
MAILSETTINGS__PASSWORD=your-google-app-password
MAILSETTINGS__FROMNAME=Fuel Management
